.alarm {
  background: #e4e4e4;
  padding: 10px;
  width: 240px;
  margin: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 5px #454545;
  justify-self: center;
}

.alarms {
  border: 1rem solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: flex-start;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; */
  /* justify-content: space-between; */
  padding: 40px 40px;
}


.clipping-container {
  position: relative;
  border: 1px solid #aaa;
  margin-bottom: 12px;
  padding: 12px;
  width: 250px;
  height: 80px;
  overflow: hidden;
}

.modal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  background-color: white;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 12px;
  position:  absolute;
  width: 250px;
  height: 300px;
  top: 70px;
  left: calc(50% - 125px);
  bottom: 70px;
}