header {
  position: sticky;
  top: 0;
  background-color: rgb(63, 135, 162);
  margin: auto 30px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

header h1, header h2{
  color: #fff;
  font-weight: bold;
}

.alarms h2 {
  margin: 30px 30px 0px 30px;
  padding: 16px 32px;
}

.sub-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.add-alarm-button {
  right: 18px;
  bottom: -18px;
  background: #009b46;
  color: #fff;
  width: 200px;
  height: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: larger;
}

.alarm-button {
  right: 18px;
  bottom: -18px;
  background: #ffffff;
  color: #000000;
  width: 100px;
  height: 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: small;
  margin: 0px 15px;
}

.alarm {
  background: #e4e4e4;
  padding: 10px;
  width: 275px;
  margin: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 5px #454545;
  justify-self: center;
}

.inactive-alarm {
  background: #f5f5f5;
  color: #868686;
}

.alarms-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: flex-start;
  padding: 15px 40px;
}


.clipping-container {
  position: relative;
  border: 1px solid #aaa;
  margin-bottom: 12px;
  padding: 12px;
  width: 250px;
  height: 80px;
  overflow: hidden;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  background-color: white;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 12px;
  position:  absolute;
  width: 250px;
  height: 300px;
  top: 70px;
  left: calc(50% - 125px);
  bottom: 70px;
}

.alarm-form {
  display: flex;
  flex-direction: column;
}

.countdown {
  color: #108846;
}

.expired-countdown {
  color: red;
}

.inactive-status {
  color: #a3a3a3;
}

.expired-countdown {
  color: red;
}

.alarm-button-wrapper {
  text-align: center;
}